# ignore generated output figures
Algorithm/FIGURE/*.eps
Algorithm/FIGURE/*.png

# ignore temp files
*.asv

# ignore generated output log file
Algorithm/Simulation_Output.log
Algorithm/simulation_output.mat
Algorithm/OUTPUT_FILES/*.qss
Algorithm/OUTPUT_FILES/*.txt
Algorithm/OUTPUT_FILES/*.log

# ignore viewer export files
Viewer/EXPORT/*.jpg
Viewer/EXPORT/*.fig

# ignore layout files
Layout/Database/*.mat
Layout/Database/*.txt

# ignore documentation aux files
Documentation/documentation.aux
Documentation/documentation.synctex.gz
